[Unit]
Description=Shuffle Radio Persistent Icecast Encoder
After=network.target icecast2.service
Wants=icecast2.service

[Service]
Type=simple
EnvironmentFile=/etc/shuffle-radio.env
ExecStart=/usr/local/bin/shuffle-radio-runner.sh
User=dan
Group=dan
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native



Restart=always
RestartSec=2

KillMode=control-group
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
